.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.count-box {
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

button {
  font-size: calc(10px + 2vmin);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
